In [1]:
import pandas as pd
from vega_datasets import data
import pycountry

In [6]:


def get_country_name_from_code(code):
    try:
        country = pycountry.countries.get(alpha_3=code)
        return country.name
    except AttributeError:
        return "Unknown"
df=pd.read_csv("arrivals_soe.csv")

In [139]:
import pycountry

def get_country_name_from_code2(code):
    try:
        # Attempt to get country using alpha_2 code
        country = pycountry.countries.get(alpha_2=code)
        if country:
            return country.name
        else:
            return "Unknown"
    except LookupError:
        # Return "Unknown" for invalid codes
        return "Unknown"
    except Exception as e:
        # Log or print the exception for debugging
        print(f"Error: {e}")
        return "Unknown"

In [140]:
lst=[]
df = df.rename(columns={'country': 'code'})
for a in df["code"]:
    b=get_country_name_from_code(a)
    lst.append(b)
df["country"]=lst

In [142]:
df2=df2.drop(columns="Country")
df2=df2.drop(columns="Code")

In [143]:
joined=pd.merge(df, df2, on="country", how="inner")

In [146]:
joined.to_csv('final file.csv', index=False)

In [3]:
final=pd.read_csv("final file.csv")

In [7]:
final['date'] = pd.to_datetime(final['date'])
final['date'] = final['date'].dt.strftime('%b %Y')

In [11]:
# Assuming 'final' is your DataFrame
grouped_df = final.groupby(["date", "code", "soe"]).sum().reset_index()

In [20]:
filtered_df = grouped_df[grouped_df['arrivals'] > 0]

In [21]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34457 entries, 35 to 87686
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             34457 non-null  object
 1   code             34457 non-null  object
 2   soe              34457 non-null  object
 3   arrivals         34457 non-null  int64
 4   arrivals_male    34457 non-null  int64
 5   arrivals_female  34457 non-null  int64
 6   country          34457 non-null  object
 7   latitude         34457 non-null  float64
 8   longitude        34457 non-null  float64
dtypes: float64(2), int64(3), object(4)
memory usage: 2.6+ MB

In [23]:
filtered_df.to_csv("grouped_arrivals.csv")

In [22]:
grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87687 entries, 0 to 87686
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             87687 non-null  object
 1   code             87687 non-null  object
 2   soe              87687 non-null  object
 3   arrivals         87687 non-null  int64
 4   arrivals_male    87687 non-null  int64
 5   arrivals_female  87687 non-null  int64
 6   country          87687 non-null  object
 7   latitude         87687 non-null  float64
 8   longitude        87687 non-null  float64
dtypes: float64(2), int64(3), object(4)
memory usage: 6.0+ MB

In [75]:
a=pd.read_csv("grouped_arrivals.csv")

In [76]:
import pandas as pd

# Load the Big Mac Index dataset
url_big_mac = "https://raw.githubusercontent.com/TheEconomist/big-mac-data/refs/heads/master/source-data/big-mac-source-data-v2.csv"
bigmac = pd.read_csv(url_big_mac)

# Load your own dataset
url_your_dataset = "path_to_your_dataset.csv"

# Filter the Big Mac dataset for the year 2023
bigmac= bigmac[bigmac['date'].str.contains('2023')]
a=pd.read_csv("grouped_arrivals.csv")
a= a[a['date'].str.contains('2023')]

# Rename the column in the Big Mac dataset
bigmac= bigmac.rename(columns={"iso_a3": "code"})
bigmac["adjust_price"]=bigmac["local_price"]/bigmac["dollar_ex"]
summed = a.groupby(["code"]).sum()[["arrivals"]]

# Merge the datasets on the 'code' column
md = pd.merge(bigmac, summed, on="code", how="left")

In [78]:
import pandas as pd
gdp=pd.read_csv("gdp_capita.csv")

In [79]:
# Set row 3 (index 2) as the new header
gdp.columns = gdp.iloc[3]

# Drop the first 3 rows to clean up the DataFrame (including the row used as the new header)
gdp = gdp.drop([0, 1, 2, 3]).reset_index(drop=True)

In [80]:
gdp=gdp[["Country Code", 2023.0]]

In [81]:
gdp=gdp.rename(columns={"Country Code": "code", 2023.0: "gdp_capita"})

In [83]:

md = pd.merge(md, gdp, on="code", how="left")

In [84]:
md["gdp_capita"]=round(md["gdp_capita"])

In [85]:
md.head()

,name,code,currency_code,local_price,dollar_ex,GDP_dollar,GDP_local,date,adjust_price,arrivals,gdp_capita
0,United Arab Emirates,ARE,AED,18.00,3.67300,52625.126,193265.777,2023-01-01,4.900626,8475.0,52977.0
1,Argentina,ARG,ARS,980.00,184.69875,13640.410,1782994.200,2023-01-01,5.305937,6162.0,13731.0
2,Australia,AUS,AUD,7.25,1.41854,65574.862,94358.390,2023-01-01,5.110888,409096.0,64712.0
3,Austria,AUT,EUR,4.48,0.91950,52483.930,49800.808,2023-01-01,4.872213,14358.0,56506.0
4,Azerbaijan,AZE,AZN,4.90,1.70250,7822.589,13298.401,2023-01-01,2.878120,1712.0,7155.0

In [2]:
import pandas as pd

In [86]:
dist=pd.read_csv("https://raw.githubusercontent.com/rahulbot/distances-between-countries/refs/heads/master/distances.csv")

In [87]:
dist = dist.rename(columns={dist.columns[0]: 'code'})
dist=dist[["code", "MYS"]]
dist=dist.rename(columns={"MYS": "distance"})

In [88]:
dist

    code      distance
0    ABW  17772.198137
1    AFG   4627.929927
2    AGO  10012.910963
3    AIA  16872.110747
4    ALB   8930.954065
..   ...           ...
230  WSM   9748.630964
231  YEM   6411.044984
232  ZAF   9822.689546
233  ZMB   8491.259645
234  ZWE   8253.128523

[235 rows x 2 columns]

In [89]:
md = pd.merge(md, dist, on="code", how="left")

In [90]:
md["distance"]=round(md["distance"])

In [91]:
md.to_csv("bubbleChart_pictograph.csv")

In [26]:
subreg=pd.read_csv("subregion.csv")
md=pd.read_csv("grouped_arrivals.csv")

In [27]:
subreg=subreg[["alpha-3", "sub-region", "region"]]

In [28]:

subreg = subreg.rename(columns={"alpha-3": "code"})

In [29]:
md = pd.merge(md, subreg, on="code", how="left")

In [30]:
md = md.drop(columns=["Unnamed: 0"])

In [31]:
import pandas as pd
md = md.groupby(["date", "region"])["arrivals"].mean().reset_index()

In [32]:
md["arrivals"]=round(md["arrivals"])
md.to_csv("streamgraph.csv")

In [25]:
md

,Unnamed: 0,date,code,soe,arrivals,arrivals_male,arrivals_female,country,latitude,longitude,sub-region,region
0,35,Apr 2020,ARE,Selangor,2.0,2.0,0.0,United Arab Emirates,23.424076,53.847818,Western Asia,Asia
1,73,Apr 2020,AUS,Selangor,9.0,8.0,1.0,Australia,-25.274398,133.775136,Australia and New Zealand,Oceania
2,77,Apr 2020,AUT,Kedah,1.0,1.0,0.0,Austria,47.516231,14.550072,Western Europe,Europe
3,103,Apr 2020,BEL,Johor,1.0,0.0,1.0,Belgium,50.503887,4.469936,Western Europe,Europe
4,114,Apr 2020,BEL,Selangor,6.0,6.0,0.0,Belgium,50.503887,4.469936,Western Europe,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
34453,87681,Sep 2023,ZWE,Perak,1.0,0.0,1.0,Zimbabwe,-19.015438,29.154857,Sub-Saharan Africa,Africa
34454,87684,Sep 2023,ZWE,Sabah,1.0,1.0,0.0,Zimbabwe,-19.015438,29.154857,Sub-Saharan Africa,Africa
34455,87685,Sep 2023,ZWE,Sarawak,2.0,2.0,0.0,Zimbabwe,-19.015438,29.154857,Sub-Saharan Africa,Africa
34456,87686,Sep 2023,ZWE,Selangor,181.0,95.0,86.0,Zimbabwe,-19.015438,29.154857,Sub-Saharan Africa,Africa
34457,87687,pivot,MYS,NaN,NaN,NaN,NaN,Malaysia,4.210500,101.975800,South-eastern Asia,Asia

In [10]:
import pandas as pd
md=pd.read_csv("streamgraph.csv")
reg=pd.read_csv("subregion.csv")

In [9]:
pd.merge("")

     Unnamed: 0      date                 sub-region  arrivals
0             0  Apr 2020  Australia and New Zealand       6.0
1             1  Apr 2020               Eastern Asia      10.0
2             2  Apr 2020             Eastern Europe       2.0
3             3  Apr 2020            Northern Africa       3.0
4             4  Apr 2020           Northern America       6.0
..          ...       ...                        ...       ...
866         866  Sep 2023              Southern Asia    2825.0
867         867  Sep 2023            Southern Europe     159.0
868         868  Sep 2023         Sub-Saharan Africa      59.0
869         869  Sep 2023               Western Asia     163.0
870         870  Sep 2023             Western Europe     468.0

[871 rows x 4 columns]