In [1]:
import pandas as pd
from vega_datasets import data
import pycountry

In [6]:


def get_country_name_from_code(code):
    try:
        country = pycountry.countries.get(alpha_3=code)
        return country.name
    except AttributeError:
        return "Unknown"
df=pd.read_csv("arrivals_soe.csv")

In [139]:
import pycountry

def get_country_name_from_code2(code):
    try:
        # Attempt to get country using alpha_2 code
        country = pycountry.countries.get(alpha_2=code)
        if country:
            return country.name
        else:
            return "Unknown"
    except LookupError:
        # Return "Unknown" for invalid codes
        return "Unknown"
    except Exception as e:
        # Log or print the exception for debugging
        print(f"Error: {e}")
        return "Unknown"

In [140]:
lst=[]
df = df.rename(columns={'country': 'code'})
for a in df["code"]:
    b=get_country_name_from_code(a)
    lst.append(b)
df["country"]=lst

In [142]:
df2=df2.drop(columns="Country")
df2=df2.drop(columns="Code")

In [143]:
joined=pd.merge(df, df2, on="country", how="inner")

In [146]:
joined.to_csv('final file.csv', index=False)

In [3]:
final=pd.read_csv("final file.csv")

In [7]:
final['date'] = pd.to_datetime(final['date'])
final['date'] = final['date'].dt.strftime('%b %Y')

In [11]:
# Assuming 'final' is your DataFrame
grouped_df = final.groupby(["date", "code", "soe"]).sum().reset_index()

In [20]:
filtered_df = grouped_df[grouped_df['arrivals'] > 0]

In [21]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34457 entries, 35 to 87686
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             34457 non-null  object
 1   code             34457 non-null  object
 2   soe              34457 non-null  object
 3   arrivals         34457 non-null  int64
 4   arrivals_male    34457 non-null  int64
 5   arrivals_female  34457 non-null  int64
 6   country          34457 non-null  object
 7   latitude         34457 non-null  float64
 8   longitude        34457 non-null  float64
dtypes: float64(2), int64(3), object(4)
memory usage: 2.6+ MB

In [23]:
filtered_df.to_csv("grouped_arrivals.csv")

In [22]:
grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87687 entries, 0 to 87686
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             87687 non-null  object
 1   code             87687 non-null  object
 2   soe              87687 non-null  object
 3   arrivals         87687 non-null  int64
 4   arrivals_male    87687 non-null  int64
 5   arrivals_female  87687 non-null  int64
 6   country          87687 non-null  object
 7   latitude         87687 non-null  float64
 8   longitude        87687 non-null  float64
dtypes: float64(2), int64(3), object(4)
memory usage: 6.0+ MB

In [15]:
a=pd.read_csv("grouped_arrivals.csv")

In [16]:
import pandas as pd

In [18]:
continents = {
    "Asia": {
        "South Asia": [
            "Afghanistan", "Bangladesh", "Bhutan", "India", "Maldives", 
            "Nepal", "Pakistan", "Sri Lanka"
        ],
        "Southeast Asia": [
            "Brunei Darussalam", "Cambodia", "East Timor", "Indonesia", 
            "Laos", "Malaysia", "Myanmar", "Philippines", 
            "Singapore", "Thailand", "Vietnam"
        ],
        "East Asia": [
            "China", "Japan", "Mongolia", "North Korea", 
            "South Korea", "Taiwan"
        ]
    },
    "South America": [
        "Argentina", "Bolivia", "Brazil", "Chile", "Colombia", 
        "Ecuador", "Guyana", "Paraguay", "Peru", 
        "Suriname", "Uruguay", "Venezuela"
    ],
    "North America": [
        "Canada", "United States", "Mexico"
    ],
    "Europe": {
        "Northern Europe": [
            "Denmark", "Estonia", "Finland", "Iceland", 
            "Ireland", "Latvia", "Lithuania", "Norway", 
            "Sweden", "United Kingdom"
        ],
        "Western Europe": [
            "Austria", "Belgium", "France", "Germany", 
            "Liechtenstein", "Luxembourg", "Monaco", 
            "Netherlands", "Switzerland"
        ],
        "Southern Europe": [
            "Albania", "Andorra", "Bosnia and Herzegovina", 
            "Croatia", "Cyprus", "Greece", "Italy", 
            "Malta", "Montenegro", "Portugal", 
            "San Marino", "Serbia", "Slovenia", "Spain", 
            "Vatican City"
        ],
        "Eastern Europe": [
            "Bulgaria", "Czechia", "Hungary", "Poland", 
            "Romania", "Slovakia", "Ukraine"
        ]
    },
    "Oceania": [
        "Australia", "Fiji", "Kiribati", "Marshall Islands", 
        "Micronesia", "Nauru", "New Zealand", 
        "Papua New Guinea", "Samoa", "Solomon Islands", 
        "Tonga", "Tuvalu", "Vanuatu"
    ],
    "Africa": {
        "North Africa": [
            "Algeria", "Egypt", "Libya", "Morocco", 
            "Sudan", "Tunisia"
        ],
        "West Africa": [
            "Benin", "Burkina Faso", "Cape Verde", 
            "Côte d'Ivoire", "Gambia", "Ghana", 
            "Guinea", "Guinea-Bissau", "Liberia", 
            "Mali", "Niger", "Nigeria", "Senegal", 
            "Sierra Leone", "Togo"
        ],
        "Central Africa": [
            "Cameroon", "Central African Republic", "Chad", 
            "Congo", "Congo, The Democratic Republic of the", 
            "Equatorial Guinea", "Gabon", "São Tomé and Príncipe"
        ],
        "East Africa": [
            "Burundi", "Djibouti", "Eritrea", "Ethiopia", 
            "Kenya", "Madagascar", "Malawi", "Rwanda", 
            "Somalia", "South Sudan", "Tanzania", "Uganda", 
            "Zambia", "Zimbabwe"
        ],
        "Southern Africa": [
            "Angola", "Botswana", "Eswatini", "Lesotho", 
            "Malawi", "Mozambique", "Namibia", 
            "South Africa", "Zambia", "Zimbabwe"
        ]
    }
}

In [19]:
a["country"]

0        United Arab Emirates
1                   Australia
2                     Austria
3                     Belgium
4                     Belgium
                 ...
34452                Zimbabwe
34453                Zimbabwe
34454                Zimbabwe
34455                Zimbabwe
34456                Zimbabwe
Name: country, Length: 34457, dtype: object